@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  font-size: 15px;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 280px 450px;
  grid-template-rows: 300px;
}

.left {
  background-image: url("./images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right {
  padding: 0 2.5rem;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.right h3 {
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  margin: 2.5rem 0 1rem 0;
}

.right p {
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.author_img {
  border-radius: 50%;
  width: 50px;
}

.share_image {
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name__date {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.name__date .name {
  font-size: 0.8rem;
}

.name__date .date {
  font-size: 0.7rem;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
}

.share__box {
  width: 220px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 250px;
  bottom: 60px;
}

.share__box > * {
  margin-right: 0.8rem;
}

.share__box:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  content: "";
  position: absolute;
  right: 105px;
  top: 50px;
}
.share__box span {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
  }
  .left {
    border-top-right-radius: 15px;
    border-bottom-left-radius: unset;
  }
  .right {
    border-top-right-radius: unset;
    border-bottom-left-radius: 15px;
  }
  .author {
    margin-bottom: 1rem;
  }
  .share_image {
    z-index: 5;
  }
  .share__box {
    width: 363px;
    height: 80px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -39px;
    bottom: -15px;
  }
  .hidden {
    display: none;
  }
  .share__box:before {
    display: none;
  }
  .share__box span {
    margin-left: 2rem;
  }
}
